{% extends "base.html" %}
{% load sortable %}

{% block title %}Furry Directory{% endblock %}

{% block content %}
    <section id="page-title">
        <h1>Furry Directory</h1>
    </section>
    <section>
        <table class="table table-hover table-sortable">
            <thead>
            <tr>
                {% sortable_heading name='Name' column='name' %}
                {% sortable_heading name='Location' column='location' %}
                <th scope="col">Fursona</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profile_list %}
                <tr>
                    <th scope="row"><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></th>
                    <td>{{ profile.location }}</td>
                    <td>Otto</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}
