{% extends "base.html" %}
{% load permissions %}


{% block title %}Furry Directory{% endblock %}

{% block content %}
    <section id="page-title">
        <h1>Profile for {{ profile.user.username }}</h1>
    </section>

    <section id="page-content">
        <p>My username is: {{ profile.user.username }}</p>
        <p>My real name is: {{ profile.user.full_name }}</p>

        {% can_view 'description' as show_description %}
        {% if show_description %}
            <h4>Description</h4>
            <p>
                {{ profile.description }}
            </p>
        {% endif %}

        {% has_perm 'directory.change_profile' on=profile as can_edit %}
        {% if can_edit %}
            <a href="{{ profile.get_modify_url }}" class="btn btn-dark btn-lg mb-2 mr-1">Edit this profile</a>
        {% endif %}
    </section>

{% endblock content %}
