{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load account socialaccount %}

{% block title %}Sign In{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ BASE_URL }}{% url 'account_login' %}"/>
{% endblock %}

{% block content %}
    <h1>Sign In</h1>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>You can sign in with one of the following services, or with the form below.</p>

        <div class="socialaccount_ballot">
            {% include "components/provider_list.html" with process="login" %}
            <hr class="my-4">
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>Please sign in or <a href="{{ signup_url }}">create an account</a> to continue.</p>
    {% endif %}

    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="form-group">
            {% crispy form %}
        </div>
        <div class="form-group">
            <p>Forgotten your password? <a href="{% url 'account_reset_password' %}">Click here to reset.</a></p>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Sign In">

            <a class="btn btn-secondary" href="{{ signup_url }}">Create Account</a>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
        </div>

    </form>
{% endblock content %}
