{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ BASE_URL }}{% url 'account_set_password' %}"/>
{% endblock %}

{% block content %}
    <h1>Set Password</h1>

    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{ form | crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Set Password">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
