{% load taggit_templatetags2_tags cache humanize markdownify static icon %}

<div class="sidebar">
    <section>
        <form action="{% url 'blog_list' %}">
            <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search..."
                       aria-describedby="button-search">
                <div class="input-group-append">
                    <button type="submit"  class="btn btn-outline-secondary" id="button-search">{% icon "search" %}</button>
                </div>
            </div>
        </form>
    </section>
    <section>
        <h3>Recent Posts</h3>
        <div class="list-group">
            {% for post in sidebar_post_list %}
                <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title | truncatechars:15 }}</h5>
                        <small>{{ post.created | naturaltime }}</small>
                    </div>
                    <p class="mb-1">{{ post.text_rendered | safe | striptags | truncatechars:50 }}</p>

                </a>
            {% endfor %}
        </div>
    </section>
    <section>
        <h3>Categories</h3>
        <div class="list-group">
            {% get_taglist as tags for 'blog.Post' %}
            {% for tag in tags %}
                <a href="{% url 'blog_list' %}?tag={{ tag.slug }}" class="list-group-item list-group-item-action
                    d-flex justify-content-between align-items-center">
                    {{ tag.name | title }}
                    <span class="badge badge-primary badge-pill">{{ tag.num_times }}</span>
                </a>
            {% endfor %}
        </div>

    </section>
</div>