node_modules
.env
*.env
.venv
.git
.github
.vscode
.editorconfig
.gitignore
.gitattributes
.pre-commit-config.yaml
.ruff_cache
.pytest_cache
.coverage
htmlcov
__pycache__
*.pyc
compose.yaml
compose.override.yaml
compose.test.yaml
compose.prod-local.yaml
deploy
build
storage
static
assets/*.json
docs
