node_modules
.env
.venv
.github
.editorconfig
.gitignore
.isort.cfg
.pre-commit-config.yaml
compose.yaml
compose.override.yaml
compose.test.yaml
compose.prod.yaml
build
storage
static
assets/*.json
*.env
docs
