node_modules
.env
*.env
.venv
.github
.vscode
.editorconfig
.gitignore
.gitattributes
.pre-commit-config.yaml
.ruff_cache
compose.yaml
compose.override.yaml
compose.test.yaml
compose.prod.yaml
build
storage
static
assets/*.json
docs
