# Python
__pycache__/
*.pyc
.pytest_cache
.venv
.coverage
htmlcov/

# Django
*.log
*.env
db.sqlite3

# Ruff
.ruff_cache/

# NPM
node_modules

# IDE
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Produced assets
build/*
!build/webpack-stats.json
storage/
static/
