# Normalize line endings.
* text=auto

# Explicitly declare text files.
*.py text diff=python
*.html text diff=html
*.tpl text diff=html
*.css text diff=css
*.scss text diff=css
*.webmanifest text
*.txt text
*.md text
*.json text
*.xml text
*.yaml text
*.svg text
*.yml text
*.toml text
*.cfg text
*.ini text
*.js text

Dockerfile* text
.dockerignore text
.gitignore text
.gitattributes text
.editorconfig text
.env* text

# Explicitly declare binary files.
*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.jfif binary
*.ico binary
*.webp binary
*.webm binary
*.pdf binary

# Correct Github language graph.
*.tpl linguist-language=HTML+Django
*.html linguist-language=HTML+Django

# Hide diffs for package-lock.
package-lock.json -diff