requests==2.22.0
django==2.2.7
sentry-sdk==0.13.2
python-decouple==3.1
argon2-cffi==19.2.0
gitpython==3.0.4
python-memcached==1.59
django-oidc-provider==0.7.0
pymdown-extensions==6.1
django-allauth==0.40.0
django-csp==3.5
django-recaptcha==2.0.5
django-markdownx==2.0.28
django-webpack-loader==0.6.0
django-debug-toolbar==2.0
django-crispy-forms==1.8.0
django-admin-sortable2==0.7.3
django-guardian==2.1.0
dj-database-url==0.5.0

