requests==2.22.0
django==2.2.7
psycopg2==2.8.4
sentry-sdk==0.13.2
python-decouple==3.3
argon2-cffi==19.2.0
gitpython==3.0.5
python-memcached==1.59
django-oidc-provider==0.7.0
pymdown-extensions==6.2
django-allauth==0.40.0
django-allauth-2fa==0.7
django-csp==3.5
django-recaptcha==2.0.5
django-markdownx==2.0.28
django-taggit==1.1.0
django-taggit-templatetags2==1.6.1
django-versatileimagefield==1.11
django-webpack-loader==0.6.0
django-debug-toolbar==2.1
django-crispy-forms==1.8.0
django-admin-sortable2==0.7.3
django-guardian==2.1.0
dj-database-url==0.5.0

