{% load static django_vite jsonld opengraph %}
<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="application-name" content="{{ request.site.name }}">
    {% og_sitewide %}
    <meta property="fb:app_id" content="538473223430196">
    {% json_ld_sitewide %}

    <meta name="theme-color" content="#281e33">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">

    <title>
        {% block title_full %}{% block title %}{% endblock title %} | {{ request.site.name }}{% endblock title_full %}
    </title>

    <link rel="preconnect" href="https://cdn.furry.nz" crossorigin>
    <link rel="preload" href="{% vite_asset_url 'fonts/inter-latin-wght-normal.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% vite_asset_url '../node_modules/@fontsource-variable/plus-jakarta-sans/files/plus-jakarta-sans-latin-wght-normal.woff2' %}" as="font" type="font/woff2" crossorigin>

    {% vite_hmr_client nonce=request.csp_nonce %}
    {% vite_asset 'js/main.js' nonce=request.csp_nonce %}

    <script nonce="{{ request.csp_nonce }}">
        (function (a) {
            a.remove("no-js");
            a.add("js")
        })(document.documentElement.classList);
    </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock body %}
{% block extra_footer %}{% endblock extra_footer %}
</body>
</html>
