{% load static django_vite %}
<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="application-name" content="{{ request.site.name }}">
    <meta property="og:site_name" content="{{ request.site.name }}">
    <meta property="fb:app_id" content="538473223430196">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "@id": "https://furry.nz/#organization",
            "name": "furry.nz",
            "url": "https://furry.nz",
            "logo": {
                "@type": "ImageObject",
                "url": "https://cdn.furry.nz/static/images/paw-dark@3x.png",
                "width": 90,
                "height": 90
            }
        }
    </script>

    <meta name="theme-color" content="#281e33">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">

    <title>
        {% block title_full %}{% block title %}{% endblock title %} | {{ request.site.name }}{% endblock title_full %}
    </title>

    {% vite_hmr_client nonce=request.csp_nonce %}
    {% vite_asset 'js/main.js' nonce=request.csp_nonce %}

    <script nonce="{{ request.csp_nonce }}">
        (function (a) {
            a.remove("no-js");
            a.add("js")
        })(document.documentElement.classList);
    </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock body %}
{% block extra_footer %}{% endblock extra_footer %}
</body>
</html>
