{% load form_tags %}
{% if field.is_hidden %}{{ field }}{% else %}
<div class="mb-3{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
    {% if not hide_label %}<label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
    <div class="input-group">
        <span class="input-group-text">{{ prefix }}</span>
        {{ field }}
        {% include "components/forms/_errors.html" %}
    </div>
    {% include "components/forms/_help_text.html" %}
</div>
{% endif %}
