{% load widget_tweaks form_tags %}
{% if not inline %}<div class="mb-3">{% endif %}
    {% if not hide_label and not inline %}<label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
    {% if is_multiwidget %}<div class="d-flex gap-2">{% endif %}
    {% if field.errors %}
        {% render_field field class="form-select is-invalid" %}
        <div class="invalid-feedback">{{ field.errors|plain_errors }}</div>
    {% else %}
        {% render_field field class="form-select" %}
    {% endif %}
    {% if is_multiwidget %}</div>{% endif %}
    {% if not inline and field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
{% if not inline %}</div>{% endif %}
