{% load form_tags %}
{% if field.is_hidden %}{{ field }}{% else %}
{% if not inline %}<div class="mb-3{% if wrapper_class %} {{ wrapper_class }}{% endif %}">{% endif %}
    {% if use_fieldset %}<fieldset>{% endif %}
    {% if inline %}
        <label class="visually-hidden" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% elif use_fieldset %}
        {% if not hide_label %}<legend class="form-label fs-6">{{ field.label }}</legend>{% endif %}
    {% elif not hide_label %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endif %}
    {% if use_multiwidget %}<div class="d-flex gap-2">{% endif %}
    {{ field }}
    {% if use_multiwidget %}</div>{% endif %}
    {% include "components/forms/_errors.html" %}
    {% if not inline %}{% include "components/forms/_help_text.html" %}{% endif %}
    {% if use_fieldset %}</fieldset>{% endif %}
{% if not inline %}</div>{% endif %}
{% endif %}
