atoma==0.0.17
coverage==5.2.1
django-debug-toolbar==2.2
nplusone==1.0.0
pytest==6.0.2
pytest-cov==2.10.1
pytest-django==3.9.0
pytest-factoryboy==2.0.3
pytest-xdist==2.1.0
selenium==3.141.0
tox==3.20.0
