{% extends "base.html" %}

{% block title %}Bad Request{% endblock %}

{% block content %}
    <section id="page-title">
        <h1>Error 400</h1>
        <p class="lead">Bad Request</p>
    </section>

    <section id="page-content">
        <p>Your browser sent a request that this server could not understand.</p>
        {% if sentry_event_id %}
            <p>If you need assistance, you may reference this error as
                <strong>{{ sentry_event_id }}</strong>.
            </p>
        {% endif %}
    </section>
{% endblock content %}