{% extends "base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block content %}
    <section id="page-title">
        <h1>Error 500</h1>
        <p class="lead">Internal Server Error</p>
    </section>

    <section id="page-content">
        <p>Sorry, there seems to be a problem with our servers. We've been notified of the error and will correct
            it as soon as possible.</p>
        {% if sentry_event_id %}
            <p>If you need assistance, you may reference this error as
                <strong>{{ sentry_event_id }}</strong>.
            </p>
        {% endif %}
    </section>
{% endblock content %}