{% extends "base.html" %}
{% load icon %}

{% block title %}Character List{% endblock %}

{% block content %}
    <div class="row">
        <ul>
            {% if character_list %}
                {% for character in character_list %}
                    <li>{{ character.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock content %}