{% extends "base.html" %}
{% load icon %}

{% block title %}Character Detail{% endblock %}

{% block content %}
    <div class="row">
        <ul>
            <li>{{ character.name }}</li>
        </ul>
    </div>
{% endblock content %}