<nav class="nav nav-tabs nav-fill mb-4">
    <a class="nav-item nav-link {% if request.resolver_match.url_name == "account_profile" %} active{% endif %}" href="{% url 'account_profile' %}">
        Profile
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "account_change_password" %} active{% endif %}" href="{% url 'account_change_password' %}">
        Password
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "account_email" %} active{% endif %}" href="{% url 'account_email' %}">
        Email
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "socialaccount_connections" %} active{% endif %}" href="{% url 'socialaccount_connections' %}">
        Connected Accounts
    </a>
</nav>