<nav class="nav nav-lines nav-fill mb-4 flex-column flex-md-row">
    <a class="nav-item nav-link {% if request.resolver_match.url_name == "account_profile" %} active{% endif %}" href="{% url 'account_profile' %}">
        Profile
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "account_change_password" %} active{% endif %}" href="{% url 'account_change_password' %}">
        Password
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "account_email" %} active{% endif %}" href="{% url 'account_email' %}">
        Email
    </a>
    <a class="nav-item nav-link{% if 'two-factor' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'two-factor-setup' %}">
        2FA
    </a>
    <a class="nav-item nav-link{% if 'account_application' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'account_application_list' %}">
        Applications
    </a>
    <a class="nav-item nav-link{% if request.resolver_match.url_name == "socialaccount_connections" %} active{% endif %}" href="{% url 'socialaccount_connections' %}">
        Social Accounts
    </a>
</nav>