{% extends "account_base.html" %}

{% block title %}Authorized Applications{% endblock %}

{% block content %}
    <h3>Authorized Applications</h3>
    <p class="mb-4">You have granted <strong>{{ consent_list|length }}
        application{{ consent_list|length|pluralize }}</strong> access
        to your account.</p>

    {% for consent in consent_list %}
        <div class=" d-flex flex-row mb-4">
            <div class="mr-3">
                <img class="rounded" src="{{ consent.client.logo.url }}" alt="{{ consent.client.name }}">
            </div>

            <div class="flex-grow-1 border-left pl-3">
                <h5>{{ consent.client.name }}<small> — <a
                        href="{{ consent.client.website_url }}" rel="noopener noreferrer"
                        target="_blank">{{ consent.client.website_url }}</a></small></h5>
                <p>{{ consent.client.name }} has access to the following information:</p>
                <dl class="mb-0">
                    <dt>User Identifier</dt>
                    <dd>Access to a unique value representing your {{ request.site.name }} account.</dd>
                    {% if consent.detailed_scopes %}
                        {% for scope in consent.detailed_scopes %}
                            <dt>{{ scope.name }}</dt>
                            <dd>{{ scope.description }}</dd>
                        {% endfor %}
                    {% endif %}
                </dl>
                {% if consent.client.terms_url %}
                    <p class="mb-0">
                        <small><a href="{{ consent.client.terms_url }}" rel="noopener noreferrer" target="_blank">View
                            Privacy Policy</a></small>
                    </p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>You have not granted any applications access to your account.</p>
    {% endfor %}
{% endblock content %}