{% extends "base.html" %}
{% load icon %}

{% block title %}Manage Account{% endblock %}

{% block content %}
    {% include "account_nav.html" %}
    <div class="row">
        <div class="col-lg-7">
            <h2>Manage Account</h2>
            <p>{{ user.email }}.</p>
        </div>
        <div class="col-lg-5">
            <h3>Account Information</h3>
            <dl class="row">
                <dt class="col-xl-4">Username</dt>
                <dd class="col-xl-8">{{ user.username }}</dd>
                <dt class="col-xl-4">Primary Email</dt>
                <dd class="col-xl-8">{{ user.email }}</dd>
            </dl>

        </div>
    </div>
{% endblock content %}