{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load icon %}

{% block title %}Manage Account{% endblock %}

{% block content %}
    {% include "account_nav.html" %}
    <div class="row">
        <div class="col-lg-7">
            <form method="post" action="{% url 'account_profile' %}">
                {% csrf_token %}
                <div class="form-group">
                    {% crispy form %}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <h3>Account Overview</h3>
            <dl class="row">
                <dt class="col-xl-4">Username</dt>
                <dd class="col-xl-8">{{ user.username }}</dd>
                <dt class="col-xl-4">Primary Email</dt>
                <dd class="col-xl-8">{{ user.email }}</dd>
            </dl>

        </div>
    </div>
{% endblock content %}