{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Two-Factor Authentication{% endblock %}

{% block content %}
    <p>
        This account has two-factor authentication enabled. Please enter the code from your authenticator app, or a
        pre-generated backup token.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">
            Authenticate
        </button>
    </form>
{% endblock %}
