{% extends "account_base.html" %}
{% load icon form_tags %}

{% block title %}Manage Account{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <h4>Basic Details</h4>
        <div class="row">
            <div class="col-md-6">
                {% text_field form.username %}
            </div>
        </div>

        <h4>Personal Information</h4>
        <p class="small">This information is optional, and may be requested by third-party applications. It will not be shared without your explicit consent.</p>
        <div class="row">
            <div class="col-md-6">
                {% text_field form.full_name autocomplete="name" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% select_field form.date_of_birth %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock content %}
