{% extends "base/shell.html" %}
{% load account %}

{% block title %}Confirm Email{% endblock %}

{% block heading %}<h1>Confirm email</h1>{% endblock %}

{% block content %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}

        <h2>
            Confirm <strong>{{ confirmation.email_address.email }}</strong> as an email address for <strong>{{ user_display }}</strong>.
        </h2>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit" class="auth-btn-primary">Confirm</button>
        </form>
    {% endif %}
{% endblock content %}
