{% extends "account_base.html" %}
{% load breadcrumbs form_tags %}

{% block title %}Set Password{% endblock %}

{% block hero_breadcrumbs %}{% url 'account_profile' as a %}{% breadcrumbs a "Account" "Set Password" %}{% endblock %}

{% block hero_heading %}Set Password{% endblock %}
{% block hero_sub %}<h2>Your account currently has no password. Set one below to enable password sign-in.</h2>{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_set_password' %}"/>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% text_field form.password1 autocomplete="new-password" %}
        {% text_field form.password2 autocomplete="new-password" %}
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
{% endblock %}
