{% extends "account_base.html" %}
{% load form_tags %}

{% block title %}Set Password{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_set_password' %}"/>
{% endblock %}

{% block content %}
    <h3>Set Password</h3>
    <p>Your account currently has no password set. You may set a new password below.</p>
    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% text_field form.password1 autocomplete="new-password" %}
        {% text_field form.password2 autocomplete="new-password" %}
        <button type="submit" class="btn btn-primary">Set Password</button>
    </form>
{% endblock %}
