{% extends "account_base.html" %}
{% load form_tags %}

{% block title %}Change Password{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_change_password' %}"/>
{% endblock %}

{% block content %}
    <h3>Change Password</h3>
    <p>Please enter your current password, followed by the new password you want.</p>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% text_field form.oldpassword autocomplete="current-password" %}
        {% text_field form.password1 autocomplete="new-password" %}
        {% text_field form.password2 autocomplete="new-password" %}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
