{% extends "base/account.html" %}
{% load breadcrumbs form_tags %}

{% block title %}Change Password{% endblock %}

{% block hero_breadcrumbs %}{% url 'account_profile' as a %}{% breadcrumbs a "Account" "Password" %}{% endblock %}

{% block hero_heading %}Change Password{% endblock %}
{% block hero_sub %}<h2>Enter your current password, followed by the new password you want.</h2>{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_change_password' %}"/>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}

        {% non_field_errors form %}

        <c-account-section>
            {% text_field form.oldpassword autocomplete="current-password" placeholder=None %}
        </c-account-section>

        <c-account-section title="New Password">
            <div class="row">
                <div class="col-md-6">
                    {% text_field form.password1 autocomplete="new-password" placeholder=None %}
                </div>
                <div class="col-md-6">
                    {% text_field form.password2 autocomplete="new-password" placeholder=None %}
                </div>
            </div>
        </c-account-section>

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
