{% extends "base.html" %}
{% load account socialaccount form_tags %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <h1>Create Account</h1>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>You can create a new account with one of the following services, or with the form below.</p>

        <div class="socialaccount_ballot">
            {% include "components/provider_list.html" with process="account_signup" %}
            <hr class="my-4">
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <form method="post" id="create_account_form" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">{% text_field form.username autocomplete="username" %}</div>
            <div class="col-md-6">{% text_field form.email autocomplete="email" %}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{% text_field form.password1 autocomplete="new-password" %}</div>
            <div class="col-md-6">{% text_field form.password2 autocomplete="new-password" %}</div>
        </div>
        {% if form.captcha %}{% captcha_field form.captcha %}{% endif %}
        <input type="submit" id="create_account_submit" class="btn btn-primary" value="Create Account">
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
    </form>
{% endblock content %}
