html {
	height: 100% !important;

	@media (min-width: 1921px) {
		font-size: 17px;
	}
}

body {
	padding-top: calc(4rem + env(safe-area-inset-top, 0px));
	padding-left: env(safe-area-inset-left, 0px);
	padding-right: env(safe-area-inset-right, 0px);
	display: flex;
	flex-direction: column;
	height: 100% !important;
	background-image: linear-gradient($dark calc(4rem + env(safe-area-inset-top, 0px)), transparent calc(4rem + env(safe-area-inset-top, 0px)));
	background-attachment: fixed;
}

main {
	flex-shrink: 0 !important;
}

h3, .h3 {
	letter-spacing: -0.015em;
}
