html {
	height: 100% !important;

	@media (min-width: 1921px) {
		font-size: 17px;
	}
}

body {
	padding-top: calc(4rem + env(safe-area-inset-top, 0px));
	padding-left: env(safe-area-inset-left, 0px);
	padding-right: env(safe-area-inset-right, 0px);
	display: flex;
	flex-direction: column;
	height: 100% !important;
	background-image: linear-gradient(var(--bs-dark) calc(4rem + env(safe-area-inset-top, 0px)), transparent calc(4rem + env(safe-area-inset-top, 0px)));
	background-attachment: fixed;
	font-feature-settings: 'cv05' 1;
}

main {
	flex: 1 0 auto;
}

h3, .h3 {
	letter-spacing: -0.015em;
}

sup {
	font-feature-settings: 'cv05' 1, 'sups' 1;
	font-size: inherit;
	vertical-align: baseline;
	top: auto;
}

sub {
	font-feature-settings: 'cv05' 1, 'subs' 1;
	font-size: inherit;
	vertical-align: baseline;
	bottom: auto;
}
