.alert ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

p a {
	overflow-wrap: break-word
}


.breadcrumb {
	font-size: 0.825rem;
	font-weight: 500;
	margin-bottom: 1.25rem;

	a {
		color: $secondary;

		&:hover {
			color: $primary;
		}
	}

	.breadcrumb-item.active {
		color: lighten($body-color, 10%);
	}
}

.nav-lines {
	border-bottom: 2px solid #f5f5f5;

	.nav-item {
		border-bottom: 2px solid #f5f5f5;
		margin-bottom: -2px;
		color: $secondary;
	}

	.nav-item:hover {
		border-bottom-color: #dbdbdb !important;
	}

	.nav-item.active {
		border-bottom-color: $primary !important;
		color: $primary;
	}
}
