$spacer: 1rem;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
);

$navbar-padding-y: $spacer * .75 !default;

$dark: #2c3840;