#footer {
	padding: 2rem 0;
	color: #8e889a;
	text-align: center;
	background-color: #f5f3f8;
	border-top: .05rem solid #ddd9e4;
	margin-top: auto !important;

	p:last-child {
		margin-bottom: 0;
	}
}
