form {
  .asteriskField {
    display: none;
  }
}

.form-inline {
  .form-group {
    margin-right: ($spacer * .5);

    label {
      margin-right: ($spacer * .5);
    }
  }
  .form-group:last-of-type {
    margin-right: 0;
  }
}

// hack to make sure captcha errors show up on forms
#div_id_captcha .invalid-feedback {
  display: inline;
}