#navigation {
	z-index: $zindex-dropdown + 1;

	.navbar-toggler {
		border: none;
		padding: 0.5rem;
		font-size: 1.5rem;

		&:focus {
			box-shadow: none;
		}

		&:active,
		&[aria-expanded="true"] {
			.navbar-toggler-icon {
				opacity: 1;
			}
		}
	}
P
	.navbar-brand .icon {
		vertical-align: top;
		width: 29px;
		height: 29px;
		margin-right: 0.25em;
	}

	.dropdown-menu {
		border-radius: 0;
		border: none;
		background-color: #2a2a2a;
		padding: 0;
		box-shadow: $box-shadow;

		&[data-bs-popper] {
			margin-top: .75rem;
		}


		.dropdown-item {
			color: rgba($white, .7);
			padding: .9rem 1.5rem;

			&:hover,
			&:focus {
				color: $white;
				background-color: rgba($white, .1);
			}
		}

		> :first-child,
		> :first-child .dropdown-item {
			padding-top: 1.1rem;
		}

		.dropdown-divider {
			border-color: rgba($white, .15);
			margin: 0;
		}
	}
}
