.icon {
	display: inline-block;
	vertical-align: -0.125em;
	height: 1em;
	width: 1em;
	fill: currentColor;
}

.icon-angle-left {
	width: 0.375em;
}

.icon-angle-right {
	width: 0.33928571428571425em;
}

.icon-paw {
	width: 0.9285714285714285em;
}
