.rendered-markdown {
	font-size: 0.95rem;
	line-height: 1.6;
	text-wrap: pretty;

	a {
		text-decoration: underline;
		text-underline-offset: 0.15em;
	}

	blockquote {
		margin-bottom: $spacer;
		@include font-size($blockquote-font-size);
	}

	figure:has(iframe) {
		display: block;
	}

	iframe {
		width: 100%;
		max-width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;

		&.ratio-4x3 {
			aspect-ratio: 4 / 3;
		}

		&.ratio-21x9 {
			aspect-ratio: 21 / 9;
		}

		&.ratio-1x1 {
			aspect-ratio: 1;
		}
	}
}
