{% load static %}
{% load render_bundle_csp %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>
        {% block title_full %}{% block title %}{% endblock title %} – furry.nz{% endblock title_full %}
    </title>

    <link rel="prefetch" href="{% static "icons.svg" %}">
    {% render_bundle_csp 'main' 'css' %}

    <script nonce="{{ request.csp_nonce }}">
        (function (a) {
            a.remove("no-js");
            a.add("js")
        })(document.documentElement.classList);
    </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
{% block header %}
    {% include "components/header.html" %}
{% endblock header %}

{% block base_content %}
    <main class="container px-3 py-4 px-md-4 py-md-5">
        {% block content %}{% endblock content %}
    </main>
{% endblock base_content %}

{% include "components/footer.html" %}
{% render_bundle_csp 'runtime' 'js' %}
{% render_bundle_csp 'vendor' 'js' %}
{% render_bundle_csp 'main' 'js' %}

{% if sentry_event_id %}
    <script src="https://browser.sentry-cdn.com/5.7.1/bundle.min.js"
            integrity="sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ"
            crossorigin="anonymous"
            nonce="{{ request.csp_nonce }}"></script>

    <script nonce="{{ request.csp_nonce }}">
        Sentry.init({dsn: '{{ SENTRY_DSN }}'});
        Sentry.showReportDialog({eventId: '{{ sentry_event_id }}'})
    </script>
{% endif %}
{% block extra_footer %}{% endblock extra_footer %}
</body>
</html>