{% extends "base.html" %}
{% load static %}
{% block title_full %}furry.nz{% endblock title_full %}

{% block content %}
    <h1>It is a bootstrap boilerplate page.</h1>
    <p>Something useful will eventually be here.</p>


    <h2>A bundle of foxes present...</h2>
    <!-- start slipsum code -->
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis pellentesque blandit. Nullam vel enim
            hendrerit, vehicula justo sit amet, sollicitudin lectus. Etiam tristique vulputate ante, sit amet ultricies ipsum
            consectetur ut. Vivamus sodales velit vitae tortor rhoncus commodo in quis lacus. Sed dolor tortor, mollis sit amet
            fringilla non, dictum in erat. Sed et elementum neque. Nullam ac erat nibh. Cras blandit justo sem, in commodo neque
            ultrices ultricies. Sed eget facilisis turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Nulla egestas imperdiet diam ut pellentesque.
        </p>

        <p>
            Nullam molestie cursus lorem sed varius. In non ornare risus, id dapibus tortor. Aenean nec porta leo. Nulla vel
            massa non nunc varius sagittis. Sed rhoncus dui at venenatis vehicula. Nam a laoreet mauris. Vestibulum sed egestas
            nibh, quis rutrum ipsum. Vivamus eu erat et felis convallis sagittis ut ac elit. Morbi scelerisque mi lobortis,
            lobortis ligula in, aliquet nunc. Quisque eu tempor metus.
        </p>

        <p>
            Maecenas dapibus bibendum lorem, at rhoncus libero malesuada a. Donec ut sagittis mauris. Morbi consequat
            porttitor neque quis dapibus. Aenean sit amet turpis odio. Pellentesque fringilla, turpis porttitor
            tincidunt hendrerit, lacus urna placerat risus, vitae convallis lectus lorem non arcu. Aliquam maximus urna
            turpis, et pretium elit maximus at. Curabitur viverra urna a eros pretium suscipit. Cras consectetur libero
            nisl, et semper enim bibendum sit amet. Fusce sagittis ex nec mi porta tempor.
        </p>

    <p>
    <img src="{% static "images/plane.jpg" %}" class="img-fluid">
    </p>

    <!-- end slipsum code -->


    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas.
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et
        sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet,
        wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
        dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

    <h2>Header Level 2</h2>

    <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
    </ol>

    <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet
        congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis,
        tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

    <h3>Header Level 3</h3>

    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
    </ul>

    <pre><code>
#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}
</code></pre>

{% endblock content %}