{% extends "base.html" %}
{% block title_full %}furry.nz{% endblock title_full %}

{% block content %}
    <h1>Welcome to the new furry.nz!</h1>

    <h3>But wait - we aren't quite ready yet...</h3>

    <p>
        This site is currently still under construction. We've launched the parts of the website that are ready so far
        so you can log in and manage your furry.nz account.
    </p>

    <h3>Things that are ready:</h3>
    <p>
        You can <a href="{% url 'account_signup' %}">create</a>, manage, and log into your new furry.nz account. You'll need one of these to create a FurCoNZ
        order.
    </p>
{% endblock content %}