<!-- app/templates/admin/base_site.html -->

{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:'Foxtail Admin' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:'Foxtail Admin' }}</a></h1>
{% endblock %}

{% block extrastyle %}
{% if DEBUG %}
    <style type="text/css">
        body:before {
            display: block;
            line-height: 35px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            content: "debug mode";
            background-color: #dc3545;
        }
    </style>
{% endif %}
{% endblock %}
