{% extends 'account_base.html' %}

{% block title %}Confirm Access{% endblock %}

{% block content %}
    <h3>Confirm Access</h3>

    <p>Please reauthenticate to safeguard your account.</p>

    <form method="post" action="{% url 'mfa_reauthenticate_webauthn' %}">
        {% csrf_token %}
        {{ form.credential }}
        {{ redirect_field }}
        <button type="button" id="mfa_webauthn_reauthenticate" class="btn btn-primary">
            Use a security key
        </button>
    </form>

    {% if reauthentication_alternatives %}
        <hr class="my-4">
        <h4>Alternative options</h4>
        {% for alt in reauthentication_alternatives %}
            <a href="{{ alt.url }}" class="btn btn-outline-primary me-2">{{ alt.description }}</a>
        {% endfor %}
    {% endif %}

    {{ js_data|json_script:"js_data" }}
    {% include "mfa/webauthn/snippets/scripts.html" %}
    <script data-allauth-onload="allauth.webauthn.forms.authenticateForm" type="application/json">{
    "ids": {
        "authenticate": "mfa_webauthn_reauthenticate",
        "credential": "{{ form.credential.auto_id }}",
        "data": "js_data"
    }
}
    </script>
{% endblock %}
