<div class="image-widget"
     data-image-widget
     data-max-file-size="{{ widget.max_file_size }}"{% if widget.ppoi_field %} data-ppoi-field="{{ widget.ppoi_field }}"{% endif %}>

    {% if widget.is_initial %}
        <div class="image-preview mb-2">
            <img src="{{ widget.value.url }}" alt="" class="rounded">
        </div>
    {% endif %}

    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}
           accept="image/jpeg,image/png,image/webp">

    {% if widget.is_initial and not widget.required %}
        <div class="form-check mt-2">
            <input type="checkbox"
                   name="{{ widget.checkbox_name }}"
                   id="{{ widget.checkbox_id }}"
                   class="form-check-input">
            <label class="form-check-label" for="{{ widget.checkbox_id }}">Remove</label>
        </div>
    {% endif %}
</div>
