{% extends "base.html" %}
{% load icon %}

{% block title %}Connected Accounts{% endblock %}

{% block content %}
    {% include "account_nav.html" %}

    <h3>Connected Accounts</h3>

    {% if form.accounts %}
        <p>You can sign in to your account using any of the following services:</p>


        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}

            <fieldset class="form-group">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {% for base_account in form.accounts %}
                        {% with base_account.get_provider_account as account %}
                            <div class="custom-control custom-radio">
                                <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                       value="{{ base_account.id }}" class="custom-control-input">
                                <label for="id_account_{{ base_account.id }}" class="custom-control-label">
                                    <span class="socialaccount_provider  {{ base_account.provider }} {{ account.get_brand.id }} font-weight-bold">
                                        {% icon account.get_brand.name|lower %} {{ account.get_brand.name }}</span> -
                                    {{ account }}
                                </label>
                            </div>
                        {% endwith %}
                    {% endfor %}

                </div>

                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">Remove</button>
                </div>

            </fieldset>

        </form>

    {% else %}
        <p>You currently have no social network accounts connected to this account.</p>
    {% endif %}

    <h4>Link an account</h4>

    <p>
        {% include "components/provider_list.html" with process="connect" %}
    </p>


    {% include "socialaccount/snippets/login_extra.html" %}
{% endblock content %}
