{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>Connect {{ provider }}</h1>

<p></p>You are about to connect a new third party account from {{ provider }}.</p>
{% else %}
<h1>Sign In Via {{ provider }}</h1>

<p>You are about to sign in using a third party account from {{ provider }}.</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">Continue</button>
</form>
{% endblock content %}
