{% extends "base.html" %}
{% load icon %}

{% block title %}Furry Events{% endblock %}

{% block extra_head %}
    {% if year %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Events",
                        "item": "{{ SITE_URL }}{% url 'events:list' %}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "{{ year }}",
                        "item": "{{ SITE_URL }}{% url 'events:list_year' year=year %}"
                    }
                ]
            }
        </script>
    {% else %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Events",
                        "item": "{{ SITE_URL }}{% url 'events:list' %}"
                    }
                ]
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if upcoming_events %}
        <h3 class="mb-3">Upcoming Events</h3>
        <div class="row narrow-gutters" data-colcade="columns: .grid-col, items: .card">
            <div class="grid-col col-md-6 col-lg-4"></div>
            <div class="grid-col d-none d-md-block col-md-6 col-lg-4"></div>
            <div class="grid-col d-none d-lg-block col-md-6 col-lg-4"></div>
            {% for event in upcoming_events %}
                {% include "event_card.html" %}
            {% endfor %}
        </div>
    {% else %}
        <p>There are no upcoming events.</p>
    {% endif %}

    {% if past_events %}
        <h3 class="mb-3 mt-5">Past Events</h3>
        <div class="row narrow-gutters" data-colcade="columns: .grid-col, items: .card">
            <div class="grid-col col-md-6 col-lg-4"></div>
            <div class="grid-col d-none d-md-block col-md-6 col-lg-4"></div>
            <div class="grid-col d-none d-lg-block col-md-6 col-lg-4"></div>
            {% for event in past_events %}
                {% include "event_card.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
