# Add a site block for each app stack.
# The reverse_proxy target uses a network alias defined in each stack's compose.yaml.

# Production
furry.nz {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-XSS-Protection "0"
	}
	encode zstd gzip
	reverse_proxy prod-app:8000
}

# Staging
test.furry.nz {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-XSS-Protection "0"
	}
	encode zstd gzip
	reverse_proxy staging-app:8000
}
