{% load avatar %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbar">
    {# main navigation #}
    {% load rules %}
    {% with vn=request.resolver_match.view_name %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link{% if vn == 'groups:organisation_list' or vn == 'groups:organisation_detail' %} active{% endif %}"
               href="{% url 'groups:organisation_list' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if vn == 'events:list' or vn == 'events:list_year' or vn == 'events:detail' %} active{% endif %}"
               href="{% url 'events:list' %}">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if vn == 'blog:list' or vn == 'blog:list_year' or vn == 'blog:detail' %} active{% endif %}"
               href="{% url 'blog:list' %}">News</a>
        </li>

        {% has_perm 'blog.manage_posts' user as can_manage_posts %}
        {% has_perm 'blog.manage_comments' user as can_manage_comments %}
        {% has_perm 'events.manage_events' user as can_manage_events %}
        {% if can_manage_posts or can_manage_comments or can_manage_events or user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{% if vn == 'blog:manage_list' or vn == 'blog:post_create' or vn == 'blog:post_edit' or vn == 'blog:post_delete' or vn == 'blog:comment_manage_list' or vn == 'blog:comment_approve' or vn == 'events:manage_list' or vn == 'events:event_create' or vn == 'events:event_edit' or vn == 'events:event_delete' %} active{% endif %}"
                   href="#" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
                <div class="dropdown-menu">
                    {% if can_manage_posts %}<a class="dropdown-item" href="{% url 'blog:manage_list' %}">Posts</a>{% endif %}
                    {% if can_manage_comments %}<a class="dropdown-item" href="{% url 'blog:comment_manage_list' %}">Comments</a>{% endif %}
                    {% if can_manage_events %}<a class="dropdown-item" href="{% url 'events:manage_list' %}">Events</a>{% endif %}
                    {% if user.is_staff %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                </div>
            </li>
        {% endif %}
    </ul>
    {% endwith %}
    {# user menu #}
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{% if "account_" in request.resolver_match.url_name %} active{% endif %}"
                   href="#" id="account-dropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ user|avatar_url:30 }}" alt="{{ user.username }}" width="30" height="30" class="navbar-avatar rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="account-dropdown">
                    <a class="dropdown-item" href="{% url 'account_profile' %}">Manage Account</a>
                    <form method="post" action="{% url 'account_logout' %}?next={{ request.path }}">
                        {% csrf_token %}
                        <input type="submit" class="dropdown-item" value="Sign Out">
                    </form>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
        {% endif %}
    </ul>
</div>
