{% load crispy_forms_tags avatar %}

<section id="comments" class="mb-4">
    {% if comment_list %}
        <h4 class="mb-3">Comments</h4>
        {% for comment in comment_list %}
            <div class="d-flex flex-row comment mb-4" id="comment-{{ comment.pk }}">
                <div class="mr-3"><img
                        src="{{ comment.author|avatar_url:64 }}"
                        alt="..."></div>
                <div class="flex-grow-1">
                    <h5>{{ comment.author.get_short_name }}</h5>
                    <p class="text-break mb-1">{{ comment.text }}</p>
                    {% if comment.author == request.user or perms.foxtail_blog.delete_comment %}
                        <small class="mt-0"><a href="{% url 'blog:comment_delete' pk=comment.pk %}">delete
                            comment</a></small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>

<section id="comments-form">
    <h4>Leave a Comment</h4>
    {% if user.is_authenticated %}
        <form method="post" class="mt-3">
            {% csrf_token %}
            {% crispy form %}
        </form>
    {% else %}
        <p>Please <a href="{% url 'account_login' %}">sign in</a> to leave a comment.</p>
    {% endif %}
</section>