{% extends "base.html" %}
{% load icon cache jsonld opengraph meta %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ post.get_absolute_url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    {% json_ld_for post %}
    {% og_for post %}
    {% meta_for post %}
{% endblock %}

{% block title %}{{ post.title }} – News{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% include "components/publish_status.html" with object=post %}
            <article class="blog-post mb-6">
                {% if post.image %}
                    <img class="img-fluid mb-3"
                         srcset="{{ post.image.crop.800x350 }} 1x, {{ post.image.crop.1200x525 }} 2x"
                         src="{{ post.image.crop.800x350 }}"
                         alt="">
                {% endif %}
                <h2>{{ post.title }}</h2>
                <p class="text-muted">{{ post.created | date:"F jS, Y" }} — by {{ post.author }}</p>
                <div class="rendered-markdown">{{ post.text_rendered | safe }}</div>
            </article>
            {% if post.allow_comments and comments_enabled %}
                {% include "blog/comments.html" %}
            {% endif %}
        </div>
        <div class="col-lg-4">
            <hr class="d-sm-block d-lg-none my-5">
            {% include "blog/sidebar.html" %}
        </div>
    </div>
{% endblock content %}
