{% extends "base.html" %}
{% load icon %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="title-section">
                {% if request.GET.q %}
                    <span>Search results for</span>
                    <h1>"{{ request.GET.q }}"</h1>
                {% elif request.GET.tag %}
                    <span>Archives for</span>
                    <h1>"{{ request.GET.tag | capfirst }}"</h1>
                {% else %}
                {% endif %}
            </div>
            {% if posts %}
                {% for post in posts %}
                    <article class="blog-post {% if not forloop.last %}border-bottom pb-5{% endif %} mb-5">
                        <a class="text-reset" href="{{ post.get_absolute_url }}">
                        {% if post.image %}
                            <img class="img-fluid mb-3"
                                 srcset="{{ post.image.crop.800x350 }} 1x, {{ post.image.crop.1200x525 }} 2x"
                                 src="{{ post.image.crop.800x350 }}"
                                 alt="">
                        {% endif %}
                        <h2>
                            {{ post.title }}
                        </h2></a>
                        <p class="text-muted">{{ post.created|date:"F jS, Y" }}</p>
                        <p class="rendered-markdown">{{ post.text_rendered | safe }}</p>
                        <div class="row mt-4">
                            <div class="col-sm-6">
                                <a href="{{ post.get_absolute_url }}">Continue Reading</a>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                {% for tag in post.tags.all %}
                                    {% if forloop.first %}in{% endif %}
                                    <a href="{% url 'blog:list' %}?tag={{ tag.slug }}">
                                        {{ tag.name | capfirst }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                {% empty %}
                    <p>No blog posts were found.</p>
                {% endfor %}

            {% else %}
                <p>No posts found.</p>
            {% endif %}
            {% block pagination %}
                {# surely I can do this in a more compact manner #}
                {% if is_paginated %}
                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page=
                                        {{ page_obj.previous_page_number }}{% if request.GET.q %}&q=

                                {{ request.GET.q }}{% elif request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}"
                               class="prev" rel="prev">{% icon "angle-left" %}prev</a>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li><a class="active">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page=
                                        {{ page_obj.next_page_number }}{% if request.GET.q %}&q=

                                {{ request.GET.q }}{% elif request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}"
                               class="next" rel="next">next{% icon "angle-right" %}</a>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endblock %}

        </div>
        <div class="col-lg-4">
            <hr class="d-sm-block d-lg-none mb-5 mt-0">
            {% include "blog/sidebar.html" %}
        </div>
    </div>
{% endblock content %}