{% extends "base.html" %}
{% load icon %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ event.get_absolute_url }}"/>
{% endblock %}

{% block title %}Event Details{% endblock %}

{% block content %}
    <div class="text-white bg-dark">
        {% if event.image %}
            <img class="card-img-top" src="{{ event.image.crop.1150x300 }}" alt="">
        {% endif %}

        <div class="card-body">
            <h4 class="card-title mb-2">{{ event.title }}</h4>
            <h5 class="card-subtitle mb-2">{{ event.where }}</h5>
            <div class="rendered-markdown">
                {{ event.what_rendered | safe }}
            </div>
            <h6 class="mb-0">Starts</h6>
            <p>{{ event.start | date:"F jS, Y" }}{{ event.start_time | time:", \a\t P" }}</p>

            {# template clusterfuck that handles any combination of inputs #}
            {% if event.end or event.end_time %}
                <h6 class="mb-0">Ends</h6>
                {% if event.end %}
                    {% if event.end == event.start %}
                        <p>Same day, at {{ event.end_time | time:"P" }}</p>
                    {% else %}
                        <p>{{ event.end | date:"F jS, Y" }}{{ event.end_time | time:", \a\t P" }}</p>
                    {% endif %}
                {% else %}
                    <p>Same day, at {{ event.end_time | time:"P" }}</p>
                {% endif %}
            {% endif %}

            {% if event.url %}
                <a class="btn btn-primary" href="{{ event.url }}" rel="noopener noreferrer" target="_blank">
                    View event website
                </a>
            {% endif %}
        </div>
        {% if event.tags %}
            <div class="card-footer">
                {% for tag in event.tags.all %}
                    {{ tag.name | title }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}