{% extends "base.html" %}
{% load form_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>If you'd like to get in contact with us, you can use the form below to send us an email. We
        will
        try to get back to you as soon as possible. If the form doesn't work for you, you can email us
        at <a href="mailto:website@furry.nz">website@furry.nz</a>.
    </p>

    {% if user.is_authenticated %}
        <p>
            Since you're signed in, your username <strong>{{ user.username }}</strong> will be included with your message.
        </p>
    {% endif %}

    <form method="post" action="{% url 'contact:contact' %}">
        {% csrf_token %}
        {% non_field_errors form %}
        <div class="row">
            <div class="col-md-6">
                {% text_field form.name %}
            </div>
            <div class="col-md-6">
                {% text_field form.email %}
            </div>
        </div>
        {% honeypot_field form.website %}
        <div class="row">
            <div class="col-md-12">
                {% textarea_field form.message %}
            </div>
        </div>
        {% if form.captcha %}
            {% captcha_field form.captcha %}
        {% endif %}
        <input id="contact_submit" class="btn btn-lg btn-primary" type="submit" value="Send">
    </form>
{% endblock content %}
