{% extends "base/page.html" %}
{% load cotton breadcrumbs %}

{% block title %}{{ character.name }}{% endblock %}

{% block hero %}
    <c-hero title="{{ character.name }}" subtitle="{{ character.species }}">
        <c-slot name="topline">
            {% breadcrumbs "directory:index" "Directory" character.name %}
        </c-slot>
    </c-hero>
{% endblock hero %}

{% block content %}
    {% if character.description %}
        <div class="rendered-markdown">
            {{ character.description }}
        </div>
    {% endif %}
{% endblock content %}
