{% extends "base/page.html" %}
{% load cotton breadcrumbs %}

{% block title %}{{ character.name }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.nav>
            {% breadcrumbs "directory:index" "Directory" request.path character.name %}
        </c-hero.nav>
        <c-hero.title>{{ character.name }}</c-hero.title>
        <c-hero.subtitle>{{ character.species }}</c-hero.subtitle>
    </c-hero>
{% endblock hero %}

{% block content %}
    {% if character.description %}
        <c-rendered-markdown>{{ character.description }}</c-rendered-markdown>
    {% endif %}
{% endblock content %}
