{% extends "base/page.html" %}
{% load cotton breadcrumbs form_tags %}

{% block title %}Create Profile{% endblock %}

{% block hero %}
    <c-hero title="Create Profile" subtitle="Choose a URL for your directory profile.">
        <c-slot name="topline">
            {% url 'directory:index' as dir_url %}{% breadcrumbs dir_url "Directory" "Create Profile" %}
        </c-slot>
    </c-hero>
{% endblock hero %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% non_field_errors form %}

        <div class="row">
            <div class="col-md-6">
                {% prefix_field form.profile_URL "furry.nz/directory/" %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create Profile</button>
    </form>
{% endblock content %}
