{% extends "base.html" %}

{% block title %}Create Profile{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="{{ form.profile_URL.id_for_label }}">{{ form.profile_URL.label }}</label>
                    <div class="input-group">
                        <span class="input-group-text">furry.nz/directory/</span>
                        <input type="text" name="{{ form.profile_URL.html_name }}" value="{{ form.profile_URL.value|default:'' }}"
                               id="{{ form.profile_URL.id_for_label }}"
                               class="form-control{% if form.profile_URL.errors %} is-invalid{% endif %}"
                               maxlength="{{ form.profile_URL.field.max_length }}">
                        {% if form.profile_URL.errors %}<div class="invalid-feedback">{{ form.profile_URL.errors }}</div>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create Profile</button>
    </form>
{% endblock content %}
