<nav id="navigation" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">furry.nz</a>
      {% include "components/nav.html" %}
  </div>
</nav>