{% load static render_bundle_csp %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#2c3840">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">

    <title>
        {% block title_full %}{% block title %}{% endblock title %} – {{ request.site.name }}{% endblock title_full %}
    </title>

    {% block media_head %}{% endblock media_head %}
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap"
          rel="stylesheet" nonce="{{ request.csp_nonce }}">
    {% render_bundle_csp 'main' 'css' %}

    <script nonce="{{ request.csp_nonce }}">
        (function (a) {
            a.remove("no-js");
            a.add("js")
        })(document.documentElement.classList);
    </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
<a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>

{% block header %}
    {% include "components/header.html" %}
{% endblock header %}

{% block base_content %}
    <main id="main-content" class="container px-3 py-4 px-md-4 py-md-5">
        {% include "components/messages.html" %}
        {% block content %}{% endblock content %}
    </main>
{% endblock base_content %}

{% include "components/footer.html" %}
{% render_bundle_csp 'runtime' 'js' %}
{% render_bundle_csp 'vendor' 'js' %}
{% render_bundle_csp 'main' 'js' %}

{% comment %}
{# this had to be commented out because Sentry does not support our nonce-based CSP correctly #}
{% if sentry_event_id %}
    <script src="https://browser.sentry-cdn.com/5.7.1/bundle.min.js"
            integrity="sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ"
            crossorigin="anonymous"
            nonce="{{ request.csp_nonce }}"></script>

    <script nonce="{{ request.csp_nonce }}">
        Sentry.init({dsn: '{{ SENTRY_DSN }}'});
        Sentry.showReportDialog({eventId: '{{ sentry_event_id }}'})
    </script>
{% endif %}
{% endcomment %}

{% block extra_footer %}{% endblock extra_footer %}
</body>
</html>