{% extends "account_base.html" %}
{% load crispy_forms_filters %}

{% block title %}Change Email{% endblock %}

{% block content %}
    <h3>Manage Email</h3>
    {% with emails=user.emailaddress_set.all %}
    {% if emails %}
        <p>The following email addresses are associated with your account:</p>

        <form action="{% url 'account_email' %}" class="email_list mb-4" method="post">
            {% csrf_token %}

                <div class="form-group">
                    {% for emailaddress in emails %}
                        <div class="custom-control custom-radio mb-2">
                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                   {% if emailaddress.primary or emails.count == 1 %}checked="checked"{% endif %}
                                   value="{{ emailaddress.email }}" class="custom-control-input">
                            <label for="email_radio_{{ forloop.counter }}"
                                   class="{% if emailaddress.primary %}primary_email{% endif %} custom-control-label">
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    <span class="badge badge-success">Verified</span>
                                {% else %}
                                    <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top"
                                          title="An email address can not be set as primary until it is verified.">Unverified</span>
                                {% endif %}
                                {% if emailaddress.primary %}
                                    <span class="badge badge-primary" data-toggle="tooltip" data-placement="top"
                                          title="All communications will be sent to this address.">Primary</span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary mb-1" type="submit" name="action_primary">
                        Make Primary
                    </button>
                    <button class="btn btn-secondary mb-1" type="submit" name="action_send">
                        Resend Verification
                    </button>
                    <button class="btn btn-primary mb-1" type="submit" name="action_remove">
                        Remove
                    </button>
                </div>

        </form>

    {% else %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Warning:</h4>
            <p>

                You currently have no email addresses associated with your account. An associated email address
                is required to be able to reset your password and receive notifications.
            </p>
            <hr>
            <p>This is a bad idea!</p>
        </div>

    {% endif %}
    {% endwith %}


    <h4>Add Email</h4>

    <form method="post" action="{% url 'account_email' %}" class="add_email form-inline">
        <div class="form-group">
            {% csrf_token %}
            {{ form | crispy }}
        </div>
        <div class="form-group">
            <button name="action_add" class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>

{% endblock %}


{% block extra_footer %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        (function () {
            var message = "Do you really want to remove the selected email address?";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
