{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Change Password{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_change_password' %}"/>
{% endblock %}

{% block content %}
    {% include "account_nav.html" %}
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Change Password</legend>
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Change Password">
        </fieldset>
    </form>
{% endblock content %}
