{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1>{% if token_fail %}Bad Token{% else %}Password Reset{% endif %}</h1>

    {% if token_fail %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>
            or <a href="{% url 'contact:contact' %}">contact us</a>.
        </p>
    {% else %}
        {% if form %}
            <p>
            Please use the form below to set a new password.
            </p>
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Set New Password">
                </div>
            </form>
        {% else %}
            <p>Your new password has been set.</p>
        {% endif %}
    {% endif %}
{% endblock %}