{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{% url 'account_set_password' %}"/>
{% endblock %}

{% block content %}
    {% include "account_nav.html" %}
    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
            <fieldset>
                <legend>Set Password</legend>

            <p>Your account currently has no password set. You may set a new password below.</p>
            {{ form | crispy }}

            <input type="submit" class="btn btn-primary" value="Set Password">
</fieldset>
    </form>
{% endblock content %}
