{% extends "base/shell.html" %}

{% block title %}Redirecting to {{ link.get_platform_display }}{% endblock %}

{% block extra_head %}{{ form.media }}{% endblock %}

{% block heading %}
    <p>Redirecting to {{ link.get_platform_display }} for {{ link.organisation }}...</p>
{% endblock %}

{% block content %}
    <form method="post" action="." id="redirect-form" class="auth-form">
        {{ form.guard_fields }}
        <button type="submit" class="btn btn-primary w-100">Continue to {{ link.get_platform_display }}</button>
    </form>
{% endblock content %}
