{% extends "base/page.html" %}
{% load cotton %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ page.get_absolute_url }}"/>
{% endblock %}

{% block hero %}
    <c-hero title="{{ page.title }}" subtitle="{{ page.subtitle }}">
        {% if user.is_staff %}
            <c-slot name="topline">
                <a href="{% url 'admin:content_page_change' page.pk %}" class="hero-admin-link"><c-icons.pencil width="0.75em" height="0.75em" /> Edit</a>
            </c-slot>
        {% endif %}
    </c-hero>
{% endblock hero %}

{% block content %}
    <div class="layout-content">
        <div class="rendered-markdown">
            {{ page.body_rendered | safe }}
        </div>
    </div>
{% endblock content %}
