{% extends "base/page.html" %}
{% load cotton %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
    <link rel="canonical" href="{{ SITE_URL }}{{ page.get_absolute_url }}"/>
{% endblock %}

{% block hero %}
    <c-hero>
        {% if user.is_staff %}
            <c-hero.nav>
                <a href="{% url 'admin:content_page_change' page.pk %}" class="hero-admin-link"><c-icons.pencil width="0.75em" height="0.75em" /> <span>Edit</span></a>
            </c-hero.nav>
        {% endif %}
        <c-hero.title>{{ page.title }}</c-hero.title>
        {% if page.subtitle %}
            <c-hero.subtitle>{{ page.subtitle }}</c-hero.subtitle>
        {% endif %}
    </c-hero>
{% endblock hero %}

{% block content %}
    <div class="layout-content">
        <c-rendered-markdown>{{ page.body_rendered | safe }}</c-rendered-markdown>
    </div>
{% endblock content %}
