{% load humanize text %}

<form action="{% url 'blog:list' %}" class="sidebar-card search">
    <label class="visually-hidden" for="search-field">Search</label>
    <div class="input-group">
        <input type="search" name="q" id="search-field" class="form-control" placeholder="Search news...">
        <button type="submit" class="btn btn-outline-secondary" aria-label="Submit Search Query"><c-icons.search /></button>
    </div>
</form>

<c-sidebar>
    <c-sidebar.header>Recent Posts <a title="RSS Feed" href="{% url 'blog:feed' %}"><c-icons.rss-square /></a></c-sidebar.header>
    <c-sidebar.content>
        {% for post in sidebar_post_list %}
            <a href="{{ post.get_absolute_url }}" class="preview">
                <strong>{{ post.title }}</strong>
                <span class="meta">{{ post.created|naturaltime }}</span>
                <p>{{ post.text_rendered|plain_text|truncatechars:80 }}</p>
            </a>
        {% endfor %}
    </c-sidebar.content>
</c-sidebar>

<c-sidebar>
    <c-sidebar.header>Categories</c-sidebar.header>
    <c-sidebar.content>
        {% for tag in sidebar_tag_list %}
            <a href="{% url 'blog:tag' slug=tag.slug %}"
            class="filter{% if request.resolver_match.url_name == 'tag' and request.resolver_match.kwargs.slug == tag.slug %} active{% endif %}">
                {{ tag.name|capfirst }}
                <span class="count">{{ tag.num_times }}</span>
            </a>
        {% endfor %}
    </c-sidebar.content>
</c-sidebar>
