{% extends "base/page.html" %}
{% load cotton breadcrumbs %}

{% block title %}Delete Comment{% endblock %}

{% block hero %}
    {% url 'blog:list' as news_url %}
    {% url 'blog:detail' slug=object.post.slug as post_url %}
    <c-hero title="Delete Comment">
        <c-slot name="topline">
            {% breadcrumbs news_url "News" post_url object.post.title "Delete Comment" %}
        </c-slot>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="account-confirm">
        <p>Are you sure you want to delete this comment?</p>
        <div class="comment-item" style="border: none; padding-top: 0.5rem;">
            <div class="comment-body">
                <strong>{{ object.author.get_short_name }}</strong>
                <p>{{ object.text }}</p>
            </div>
        </div>
        <div class="account-confirm-actions">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Comment</button>
                <a href="{{ post_url }}" class="btn btn-outline-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
{% endblock content %}
