{% extends "base/page.html" %}
{% load blog_sidebar cache jsonld opengraph meta twitter breadcrumbs rules image text %}

{% if post.image %}{% block body_class %}has-hero-banner{% endblock %}{% endif %}

{% block canonical %}<link rel="canonical" href="{{ SITE_URL }}{{ post.get_absolute_url }}">{% endblock canonical %}

{% block extra_head %}
    {% json_ld_for post %}
    {% og_for post %}
    {% meta_for post %}
    {% twitter_for post %}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block hero %}
    {% if post.image %}
    <div class="hero-scroll-wrapper">
    {% endif %}

        <c-hero hero_class="{% if post.image %}hero-sticky{% endif %}">
            <c-hero.nav>
                {% breadcrumbs "blog:list" "News" post.get_absolute_url post.title %}
                {% has_perm 'blog.manage_posts' user as can_manage %}
                {% if can_manage %}
                    <a href="{% url 'blog:post_edit' post.pk %}" class="hero-admin-link"><c-icons.pencil width="0.75em" height="0.75em" /> <span>Edit</span></a>
                {% endif %}
            </c-hero.nav>

            <c-tag-row :tags="post.tags.all" tag_url="blog:tag" />

            <c-hero.title>{{ post.title }}</c-hero.title>
            <c-hero.subtitle>{{ post.created|date:"F jS, Y" }}</c-hero.subtitle>
        </c-hero>

        {% if post.image %}
            <c-hero-banner :image="post.image" :ppoi="post.image_ppoi" :alt="post.title" />
    </div>
    {% endif %}
{% endblock hero %}

{% block content %}
    <c-publish-status :object="post" />

    <c-layout-sidebar>
        <c-slot name="content">
            <c-rendered-markdown>{{ post.text_rendered }}</c-rendered-markdown>

            {% include "blog/_related_content.html" %}

            {% if post.allow_comments %}
                {% include "blog/_comments.html" %}
            {% endif %}
        </c-slot>

        <c-slot name="sidebar">
            {% if post.author %}
                {% include "blog/_author_sidebar.html" with author=post.author %}
            {% endif %}
            {% blog_sidebar %}
        </c-slot>
    </c-layout-sidebar>
{% endblock content %}
