{% extends "base/page.html" %}
{% load breadcrumbs jsonld opengraph meta twitter %}


{% block title %}{% if year %}News from {{ year }}{% else %}News{% endif %}{% endblock %}

{% block extra_head %}
    {% json_ld_for structured_data %}
    {% og_for structured_data %}
    {% meta_for structured_data %}
    {% twitter_for structured_data %}
{% endblock %}

{% block hero %}
    <c-hero>
        {% if year %}
            <c-hero.nav>
                {% breadcrumbs "blog:list" "News" request.path year %}
            </c-hero.nav>
        {% endif %}

        <c-hero.title>
            {% if request.GET.q %}
                Search results for {{ request.GET.q }}
            {% elif tag %}
                Posts tagged {{ tag.name }}
            {% elif year %}
                News from {{ year }}
            {% else %}
                News
            {% endif %}
        </c-hero.title>
        <c-hero.subtitle narrow>
            {% if request.GET.q %}
                Showing news posts matching your search query
            {% elif tag %}
                Showing news posts tagged with {{ tag.name }}
            {% else %}
                Community news and updates from furry.nz
            {% endif %}
        </c-hero.subtitle>

        {% if blog_years and not tag and not request.GET.q %}
            <c-hero.year-filter :years="blog_years" list_url="blog:list" year_url="blog:list_year" />
        {% endif %}
    </c-hero>
{% endblock hero %}

{% block content %}
    <c-layout-sidebar>
        <c-slot name="content">
            {% if posts %}
                {% for post in page_obj %}
                    <c-blog_post :post="post" />
                {% endfor %}
            {% else %}
                <div class="empty-state">
                    <p>No posts found{% if year %} for {{ year }}{% endif %}{% if request.GET.q %} matching "{{ request.GET.q }}"{% endif %}.</p>
                </div>
            {% endif %}

            {% if is_paginated %}
                <c-pagination :page_obj="page_obj" :paginator="paginator" />
            {% endif %}
        </c-slot>

        <c-slot name="sidebar">
            {% include "blog/sidebar.html" %}
        </c-slot>
    </c-layout-sidebar>
{% endblock content %}
