{% load cache humanize static icon %}
<div class="sidebar">
    <section id="search">
        <form action="{% url 'blog:list' %}">
            <label class="visually-hidden" for="search-field">Search</label>
            <div class="input-group">
                <input type="search" name="q" id="search-field" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-outline-secondary" id="search-button"
                            aria-label="Submit Search Query">{% icon "search" %}</button>
            </div>
        </form>
    </section>
    {% cache 1800 sidebarposts %}
        <section id="recent-posts">
            <h4>Recent Posts <small><a title="RSS Feed" href="{% url 'blog:feed'  %}">{% icon 'rss-square' tag='span' %}</a></small></h4>
            <div class="list-group list-group-flush">
                {% for post in sidebar_post_list %}
                    <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action">
                        <header>
                            <h5>{{ post.title }}</h5>
                            <small>{{ post.created | naturaltime }}</small>
                        </header>
                        <p class="mb-1">{{ post.text_rendered | safe | striptags | truncatechars:80 }}</p>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endcache %}
    <section id="categories">
        <h4>Categories</h4>
        <div class="list-group">
            {% for tag in sidebar_tag_list %}
                <a href="{% url 'blog:list' %}?tag={{ tag.slug }}" class="list-group-item list-group-item-action
                    d-flex justify-content-between align-items-center{% if request.GET.tag == tag.slug %} active{% endif %}">
                    {{ tag.name | capfirst }}
                    <span class="badge badge-pill {% if request.GET.tag == tag.slug %}bg-light{% else %}bg-primary{% endif %}">
                            {{ tag.num_times }}
                        </span>
                </a>
            {% endfor %}
        </div>
    </section>
</div>
